{% extends "shop/base.html" %}

{% block title %}
Contact Us
{% endblock title %}

{% block style %}
{% endblock style %}

{% block body %}
<form class="container" action="/shop/contact/" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label"><b>Name</b></label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label"><b>Email address</b></label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label"><b>Phone</b></label>
      <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your phone">
      <div id="phoneHelp" class="form-text">We'll never share your phone number with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="desc"><b>How can we help you out?</b></label>
      <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock body %}

{% block script %}
{% endblock script %}
