{% extends "shop/base.html" %}

{% block title %}
Tracker
{% endblock title %}

{% block style %}
{% endblock style %}

{% block body %}
<div class="container">
    <div class="col my-4">
        <h2> Enter Order ID and Email to track your order </h2>
        <form class="row g-3" method="post" action="#" id="trackerForm">
            {% csrf_token %}

            <div class="col-md-6">
            <label for="inputName" class="form-label">Order ID</label>
            <input type="text" class="form-control" id="orderID" name="orderID" placeholder="order id">
            </div>

            <div class="col-md-6">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="emailID" name="emailID" placeholder="username@domain">
            </div>

            <div class="col-12">
            <button type="submit" class="btn btn-primary">Track Order</button>
            </div>
        </form>
    </div>

    <div class="col my-4">
        <h2> Your Items and Orders </h2>
        <div>
            <ul class="list-group" id="items">
                Enter your order id and email to track your order
            </ul>
        </div>
    </div>

</div>
{% endblock body %}

{% block script %}
<script>
    $('#trackerForm').submit(function(event) {
        $('#items').empty();
        var formData = {
            'orderID': $('input[name=orderID]').val(),
            'emailID': $('input[name=emailID]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        }
        $.ajax({
            type: 'POST',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })
        .done(function(data){
            console.log(data);
            updates = JSON.parse(data);
            if (updates.length > 0 & updates!={}) {
                for (i=0; i<updates.length; i++) {
                    let name = updates[i]['text'];
                    let qty = updates[i]['time'];
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                                ${text}
                                <span class="badge bg-primary rounded-pill">${time}</span>
                            </li>
                            `
                    $('#items').append(mystr);
                }
            } else {
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    Sorry, we are not able to fetch order id and email.</li>`
                $('#items').append(mystr);
            }
        });
        event.preventDefault();
    })
</script>
{% endblock script %}