{% extends "shop/base.html" %}

{% block title %}
Shop
{% endblock %}

{% block style %}
.col-md-3 {
    display: inline-block;
    margin-left: -4px;
}

.col-md-3 img {
    max-width: 250px;
    max-height: 250px;
}

body .carousel-indicator li {
    background-color: blue;
}

body .carousel-indicators {
    bottom: 0;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: blue;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
    background-color: blue;
}

.carousel-control-prev,
.carousel-control-next {
    {% comment %} top: auto;
    bottom: auto; {% endcomment %}
    padding-top: 222px;
}

body .no-padding {
    padding-left: 0;
    padding-right: 0;
}
{% endblock %}

{% block body %}
{% load static %}
{% load my_tags %}

{% for products, range, nSlides in allProducts %}
<h3 class="container my-4">{{products.0.category}}</h3>
<div class="row">
    <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
            {% for i in range %}
            <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
            {% endfor %}
        </ul>
        
        <div class="container carousel-inner no-padding">
            <div class="carousel-item active">

                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="/media/{{products.0.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{products.0.name}}</h5>
                        <p class="card-text">{{products.0.desc|slice:"0:60"}}</p>
                        <button id="pdt{{products.0.id}}" class="btn btn-primary cart">Add to cart</button>
                        <a href="/shop/product/{{products.0.id}}">
                            <button id="qv{{products.0.id}}" class="btn btn-primary cart">QuickView</button>
                        </a>
                        </div>
                    </div>
                </div>

            {% for i in products|slice:"1:" %}
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="/media/{{i.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{i.name}}</h5>
                        <p class="card-text">{{i.desc|slice:"0:60"}}</p>
                        <button id="pdt{{i.id}}" class="btn btn-primary cart">Add to cart</button>
                        <a href="/shop/product/{{i.id}}">
                            <button id="qv{{i.id}}" class="btn btn-primary cart">QuickView</button>
                        </a>
                        </div>
                    </div>
                </div>
                
            {% if forloop.counter|modulo and not forloop.last %}
            </div>
            <div class="carousel-item">
            {% endif %}

            {% endfor %}
            </div>
        </div>
        
        <a class="carousel-control-prev" href="#demo{{forloop.counter}}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#demo{{forloop.counter}}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>
{% endfor %}

{% endblock %}

{% block script %}
<script>
    if(localStorage.getItem('cart') == null) {
        var cart = {}
    } else {
        cart = JSON.parse(localStorage.getItem('cart'))
    }

    $('.cart').click(function() {
        // console.log('clicked');
        var idstr = this.id.toString();
        // console.log(idstr);
        if(cart[idstr] != undefined) {
            cart[idstr] = cart[idstr] + 1;
        } else {
            cart[idstr] = 1;
        }
        // console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart').innerHTML = Object.keys(cart).length;
    });
</script>
{% endblock %}